kafka-python==2.3.0
confluent-kafka==2.5.3
flask==3.0.3
flask-cors==5.0.0
requests==2.32.3
numpy==1.26.4
redis==5.1.0
rocksdict==0.3.23
prometheus-client==0.21.0
pydantic==2.9.2
websocket-server==0.6.4
