kafka-python==2.0.2
confluent-kafka==2.5.3
flask==3.0.3
flask-cors==5.0.0
flask-socketio==5.4.1
python-socketio==5.11.4
simple-websocket==1.1.0
redis==5.1.1
psycopg2-binary==2.9.10
prometheus-client==0.21.0
pytest==8.3.3
pytest-asyncio==0.24.0
pyyaml==6.0.2
cryptography==43.0.1
