kafka-python==2.0.2
confluent-kafka==2.5.0
requests==2.31.0
flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6
python-socketio==5.11.2
websocket-client==1.8.0
fastapi==0.111.0
uvicorn==0.30.0
pytest==8.2.0
pytest-asyncio==0.23.6
faker==25.0.0
avro-python3==1.10.2
psutil==5.9.8
python-json-logger==2.0.7
colorlog==6.8.2
