kafka-python==2.0.2
flask==3.0.3
flask-socketio==5.3.6
requests==2.31.0
prometheus-client==0.20.0
psutil==5.9.8
matplotlib==3.8.4
seaborn==0.13.2
pandas==2.2.2
numpy==1.26.4
plotly==5.19.0
dash==2.16.1
dash-bootstrap-components==1.5.0
python-dotenv==1.0.1
coloredlogs==15.0.1
pytest==8.0.0
