kafka-python==2.3.0
confluent-kafka==2.6.0
flask==3.1.0
flask-cors==5.0.0
cryptography==43.0.3
pyyaml==6.0.2
prometheus-client==0.21.0
pytest==8.3.4
pytest-asyncio==0.24.0
requests==2.32.3
faker==33.1.0
