version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_CLEANUP_POLICY: compact
      KAFKA_MIN_COMPACTION_LAG_MS: 60000

  kafka-setup:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - kafka
    command: >
      bash -c "
        sleep 10 &&
        kafka-topics --bootstrap-server kafka:9092 --create --if-not-exists --topic user-interactions --partitions 4 --replication-factor 1 &&
        kafka-topics --bootstrap-server kafka:9092 --create --if-not-exists --topic engagement-processor-engagement-scores-changelog --partitions 4 --replication-factor 1 --config cleanup.policy=compact &&
        echo 'Topics created successfully'
      "
